
        body {background:lavender;}
        h1 {color:blue;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;}
        p1 {color: red;}
        p2 {border: 2px solid powderblue;
        padding: 30px;}